* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111827;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    color: #38bdf8;
}

.hero p {
    margin-top: 10px;
    color: #cbd5e1;
}

/* SECTION */
section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}